/* .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
};

.customer-input-container {

}

.card-header {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: #3a4d6a;
}

.horizontal-line {
    width: 20px;
    border: red;
} */

/* .tableContainer::-webkit-scrollbar {
    display: none !important; 
} */